# git files
.git
.gitattributes
.gitignore

# IDE files
.idea

# cache files
.mypy_cache
.pytest_cache
.ruff_cache
.local
.tox

# Test files
tests

# compose files
docker-compose.yaml

# dependency lock files
poetry.lock

# Configuration files
tox.ini

# README files
README.md

# environment files
*.env


*node_modules/

